In [59]:
a = 1
b = 2
print (a+b)

3

In [60]:
a = 'Alex'
b = 'Chiele'
c = a + ' ' + b
print(c)

Alex Chiele

In [1]:
def oposto(numeral_orig):
    return -numeral_orig

a = oposto(133)
print(oposto(120),a)

def oposto_sem_implem(teste):
    pass

-120 -133

In [111]:
lista3 = [10,20,30,5]
lista3 += 88,
print(lista3)
type(lista3)

#lista3[2] = 77
print(lista3)
type(lista3)

#lista3 = sorted(lista3)
total = lista3.count(3)
lista3.insert(1,33)
lista3.pop()
print(lista3)
#print(total)
type(lista3)

#len(lista3)

lista3[:-1]

[10, 20, 30, 5, 88]
[10, 20, 30, 5, 88]
[10, 33, 20, 30, 5]

[10, 33, 20, 30]

In [72]:
for loop1 in lista3:
    oposto3 = oposto(loop1)
    print(loop1)
    print(oposto3)

10
-10
20
-20
30
-30
5
-5
88
-88

In [103]:
nome = "Alex Chiele"
partenome = nome[0:4]
print(nome,partenome)
#nome.upper()
print(nome.upper())

for letra in nome[3:]:
    print(letra)

Alex Chiele Alex
ALEX CHIELE
x

C
h
i
e
l
e