In [ ]:
def heroi(balas,dragoes):
    if balas >= 2*dragoes:
        return True
    else:
        return False

print(heroi(4,2))

In [ ]:
#retornar o menor item da lista
num2 = 2.44
listatotal = [23,564,num2,33,77,2355,22,3]

print(min(listatotal))

print(sorted(listatotal)[0])

In [ ]:
# Tuplas permitem desconstrução
t1 = (3,6,9)

primeiro, segundo, terceiro  = t1
print(primeiro)
print(segundo)
print(terceiro)

In [ ]:
#trocar de lugar os numeros usando tuplas
a = 1
b = 2

(a, b) = (b, a)
print(a)
print(b)

In [ ]:
# estrutura if else
momento = 'dia'
hora = 14

if momento == 'dia' and hora<=12:
    print("bom dia")
elif momento == 'tarde':
    print("boa tarde")
else: 
    print("nao sei o momento")

In [ ]:
# estrutura randomica for usando elementos dinamicos "f"
for elemento1 in range(5):
    print(f'Elemento: {elemento1} vezes')

In [50]:
for elementoaux in range(1,10):
    #print(elementoaux)
    print(f'passou: {elementoaux}')
    if elementoaux%2 == 0:   # %2 retorna o resto da divisao
        print(elementoaux) 
        break   # para o for no primeiro

passou: 1
passou: 2
2

In [55]:
def multiplica_com_valor(a, b=2):
    return a * b

result = multiplica_com_valor(3,7)
print(result)

result2 = multiplica_com_valor(3)
print(result2)

21
6

In [63]:
def multiplica_com_valor2(a, b=5):
    soma = a + b
    mult = a * b
    return [soma, mult]

result = multiplica_com_valor2(23,7)
print(result)

result2 = multiplica_com_valor2(3)
print(result2)

res01, res02 = multiplica_com_valor2(7)
print(res01)
print(res02)
type(res01)

[30, 161]
[8, 15]
12
35

int

In [67]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [69]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

In [78]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
type(thisdict)

for x in thisdict:
  print(x)

for x in thisdict.values():
  print(x)
  print(type(x))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
brand
model
year
Ford
<class 'str'>
Mustang
<class 'str'>
1964
<class 'int'>

In [79]:
x = lambda a : a + 10
print(x(5))

15

In [84]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(2)

print(mytripler(11))

22

In [85]:
def myfunc(a, n):
  return a * n

print(myfunc(2,11))

22